<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pokememo.name %>
</p>

<p>
  <strong>Item:</strong>
  <%= @pokememo.item %>
</p>

<p>
  <strong>Ability:</strong>
  <%= @pokememo.ability %>
</p>

<p>
  <strong>Move1:</strong>
  <%= @pokememo.move1 %>
</p>

<p>
  <strong>Move2:</strong>
  <%= @pokememo.move2 %>
</p>

<p>
  <strong>Move3:</strong>
  <%= @pokememo.move3 %>
</p>

<p>
  <strong>Move4:</strong>
  <%= @pokememo.move4 %>
</p>

<p>
  <strong>H:</strong>
  <%= @pokememo.H %>
</p>

<p>
  <strong>A:</strong>
  <%= @pokememo.A %>
</p>

<p>
  <strong>B:</strong>
  <%= @pokememo.B %>
</p>

<p>
  <strong>C:</strong>
  <%= @pokememo.C %>
</p>

<p>
  <strong>D:</strong>
  <%= @pokememo.D %>
</p>

<p>
  <strong>S:</strong>
  <%= @pokememo.S %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @pokememo.nature %>
</p>

<%= link_to 'Edit', edit_pokememo_path(@pokememo) %> |
<%= link_to 'Back', pokememos_path %>
